<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生更新</title>
</head>
<body>
<h1>受講生更新</h1>

<form th:action="@{/updateStudent}" th:object="${studentDetail}" th:method="patch">
  <input type="hidden" th:field="*{student.id}">

  <div>
    <label for="fullName">名前</label>
    <input type="text" th:field="*{student.fullName}" id="fullName" required>
  </div>

  <div>
    <label for="kana">フリガナ</label>
    <input type="text" th:field="*{student.kana}" id="kana">
  </div>

  <div>
    <label for="nickName">ニックネーム</label>
    <input type="text" th:field="*{student.nickName}" id="nickName">
  </div>

  <div>
    <label for="email">メールアドレス</label>
    <input type="email" th:field="*{student.email}" id="email" required>
  </div>

  <div>
    <label for="city">地域</label>
    <input type="text" th:field="*{student.city}" id="city" required>
  </div>

  <div>
    <label for="age">年齢</label>
    <input type="number" th:field="*{student.age}" id="age" required>
  </div>

  <div>
    <label>性別</label>
    <div>
      <input type="radio" th:field="*{student.gender}" id="gender-male" value="Male">
      <label for="gender-male">男性</label>
    </div>
    <div>
      <input type="radio" th:field="*{student.gender}" id="gender-female" value="Female">
      <label for="gender-female">女性</label>
    </div>
    <div>
      <input type="radio" th:field="*{student.gender}" id="gender-non-binary" value="Non_binary">
      <label for="gender-non-binary">ノンバイナリー</label>
    </div>
  </div>

  <div>
    <label for="remark">備考</label>
    <input type="text" th:field="*{student.remark}" id="remark">
  </div>

  <div>
    <input type="checkbox" th:field="*{student.isDeleted}" id="isDeleted">
    <label for="isDeleted">キャンセル</label>
  </div>

  <div th:each="studentCourse, stat : ${studentDetail.studentCourseList}">
    <input type="hidden" th:field="*{studentCourseList[__${stat.index}__].id}">
    <input type="hidden" th:field="*{studentCourseList[__${stat.index}__].studentId}">
    <input type="hidden" th:field="*{studentCourseList[__${stat.index}__].startDate}">
    <input type="hidden" th:field="*{studentCourseList[__${stat.index}__].endDate}">

    <div>
      <label for="courseName_${stat.index}">受講コース</label>
      <select th:field="*{studentCourseList[__${stat.index}__].courseName}"
              id="courseName_${stat.index}">
        <option value="Javaフルコース">Javaフルコース</option>
        <option value="AWSフルコース">AWSフルコース</option>
        <option value="デザインコース">デザインコース</option>
      </select>
    </div>
  </div>

  <div>
    <button type="submit">更新</button>
  </div>

</form>
</body>
</html>